---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Nhat Nguyen" description="About Nhat Nguyen Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/hardrock_lanscape.jpeg"
					alt="Nhat Nguyen at Hard Rock Cafe in California"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p style="margin-bottom: 1em;">
						Hi I'm <strong style="color:lightpink"> Nhat </strong> and I'm a <strong style="color:lightpink">software engineer</strong>. I was born in <strong style="color:lightpink">Vietnam</strong> and moved to the United States when I was 18 years old.
						I've always been fascinated by technology, ever since I was a little kid. 
						My curiosity about computers led me to question a lot of things and experiment with electronic devices. 
						In 8th grade, my biggest accomblishment was to <strong style="color:lightpink">jailbreake</strong> an iPhone 4.
					</p>
					<p style="margin-bottom: 1em;">
						I want to be a software engineer to <strong style="color:lightpink">improve</strong> people's lives by creating innovative solutions that make their tasks easier and more enjoyable.
						I’m always eager to <strong style="color:lightpink">learn new technologies and expand my knowledge base</strong>.<strong style="color:lightpink"> My goal</strong> is to join a dynamic team that values creativity, collaboration, and quality.
					</p>
					<p style="margin-bottom: 1em;">
						Besides technology, I have many other interests and hobbies that keep me balanced and happy. 
						I can play multiple instruments, such as guitar, piano, and drums. 
						I also enjoy setting up decent sound systems for my friends and family. 
						I love sports, especially soccer, football, swimming and ping pong.
						I also like photography and taking pictures of nature and people.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><strong style="color:lightpink">University of Texas at Dallas - Major: Software Engineering</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<div class="button-container">
					<button class="my-button">JavaScript</button>
					<button class="my-button">Python</button>
					<button class="my-button">React Native</button>
					<button class="my-button">Node.js</button>
					<button class="my-button">Dart</button>
					<button class="my-button">Tailwind</button>
					<button class="my-button">AI search engine</button>
					<button class="my-button">Adobe Software</button>
					<button class="my-button">Behringer X-air</button>
					<button class="my-button">Microsoft Office</button>
				</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	 .button-container {
    text-align: left;
  }
  .my-button {
    display: inline-block;
    background-color: #B76D90;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
