---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Resume | Nhat Nguyen" description="About Nhat Nguyen Lorem Ipsum">
	<div class="stack gap-20">
		<main class="">
			<Hero
				title="Resume"
			>
			</Hero>
			<section>
                <a href="/assets/Nathan_Nguyen.pdf" style="font-size: 1.7rem;" download="resume.pdf">Download PDF</a>
            </section>
            <section>
                <embed class="resume" src="/assets/Nathan_Nguyen.pdf" width="100%" height="1100px" />
            </section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
    .resume embed {
        display: block;
        margin: 0 auto;
    }

	 .button-container {
    text-align: left;
  }
  .my-button {
    display: inline-block;
    background-color: #B76D90;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
